<div class="container">
    <div class="intro_container">
        <div class="intro_title">
            <div class="h5_container">
                <h5>Projects</h5>
                <div class="h5_design"></div>
            </div>
            
            <h2 class="project">Gallery</h2>
        </div>
        <div class="intro_brief_container">
            <div class="intro_brief_design"></div>
            <div class="intro_brief">
            
                <p class="paragraph1">Nulla placerat, massa vitae aliquam dignissim,<br>
                   massa eros porta lorem, nec</p>
                <p class="paragraph2">Nam in massa in est pharetra feugiat. Aliquam ac egestas purus, nec finibus leo.<br>
                     Etiam ultrices felis vel odio vestibulum, id faucibus felis suscipit.</p>
            </div>
        </div>
        
    </div>
    
    
    <div class="project_container">
        <div class="project_image">
        </div>
        <div class="project_brief">
            <div class="project_title_container">
                <h2 class="project_title">Project Title</h2>
                <div class="project_title_design">
                </div>
            </div>
            
            <p class="project_paragraph">Nulla placerat, massa vitae aliquam dignissim,<br>
                massa eros porta lorem, nec<br>
             Nam in massa in est pharetra feugiat. Aliquam ac egestas purus, nec finibus leo.<br>
                  Etiam ultrices felis vel odio vestibulum, id faucibus felis suscipit.</p>
            
                  <div class="button">
                    <span>View more</span>
                  </div>
        </div>
    </div>

    <div class="project_container2">
        <div class="project_image2">
        </div>
        <div class="project_brief">
            <div class="project_title_container">
                <h2 class="project_title">Project Title</h2>
                <div class="project_title_design">
                </div>
            </div>
            <p class="project_paragraph">Nulla placerat, massa vitae aliquam dignissim,<br>
                massa eros porta lorem, nec<br>
             Nam in massa in est pharetra feugiat. Aliquam ac egestas purus, nec finibus leo.<br>
                  Etiam ultrices felis vel odio vestibulum, id faucibus felis suscipit.</p>
            
            <div class="button">
                <span>View more</span>
            </div>
        </div>
        
    </div>

</div>
