.mainbd{
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    font-family: var(--font-family);
    
}
.first_container{
    display: flex;
    flex-direction: row;
    height: 90vh;
}
.first_image_container{
    width: 40%;
    height: 100%;
    background-color:var(--dark-font-grey);
    background-image: url("../../../../assets/homeimg_3.png");
    background-size: fill;
    background-repeat: no-repeat;
}
.mobile_heading{
    width: 0;
    height: 0;
    position: fixed;
    left: -100%;
    background-color: var(--dark-font-grey);
}
.first_textgroup_container{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
}
.intro_text_container{
    height: 40%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.heading{
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    line-height: 2rem;
    letter-spacing: .2rem;
    
}
.summary{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: var(--font-family);
    color: var(--dark-font-grey);

}
.skills_container{
    height: 60%;
    width: 100%;
    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
    padding: 2rem 0 1rem 0;
   
    
}
.skills{
    height: 10%;
    font-size: 1.5rem;
    margin-left: 2rem;
}
.skills_horizontal_container{  
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
}
.frontend{
    margin-top: 1rem;
    margin-left: 2rem;
    width: 40%;
    height: 100%;

}
.backend{
    margin-top: 1rem;
    margin-left: 2rem;
    width: 40%;
    height: 100%;
}

.second_container{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    margin-bottom: 2rem;
}
.languages_title{
    align-self: center;

    font-size: 1.5rem;
    margin-left: 2rem;
}
.languages_frameworks{
    padding-top: 2rem;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    row-gap: .1rem;

}
.language_icons img{
    height: 3rem;
    width: 3rem;
    padding-right: 1rem;
    
}


.language_icons{
    align-items: center;
    display: flex;
    width: 50%;
    height: 3rem; 
    margin-top: 1rem;
    filter: saturate(0);
    transition: .3s;
    
}
.language_icons:hover{
    filter: saturate(100%);
    transform: scale(110%);
    transition: .5s;
}
.progress_bar{
    height: .7rem;
    width: 100%;
    background-color: var(--light-font-color);
}
.html_progress_value{
    height: 100%;
    width: 90%;
    background-color: tomato;
}
.css_progress_value{
    height: 100%;
    width: 80%;
    background-color: blue;
}
.js_progress_value{
    height: 100%;
    width: 50%;
    background-color: yellow;
}
.react_progress_value{
    height: 100%;
    width: 0%;
    background-color: rgb(5, 166, 230);
}
.figma_progress_value{
    height: 100%;
    width: 40%;
    background-color: green;
}
.xd_progress_value{
    height: 100%;
    width: 80%;
    background-color: purple;
}
.angular_progress_value{
    height: 100%;
    width: 20%;
    background-color: rgb(245, 38, 38);
}
.dotnet_progress_value{
    height: 100%;
    width: 10%;
    background-color: rgb(5, 166, 230);
}
.flutter_progress_value{
    height: 100%;
    width: 60%;
    background-color: rgb(5, 166, 230);
}
.interests_container{
    margin-top: 4rem;
    height: 70vh;
    width: 100%;
    background-color: var(--font-color);
    display: flex;
}
.left_interest_container{
    width: 40%;
    height: 100%;
    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.interests_title{
    font-size: 4rem;
}
.interests_brief{
    margin-top: 1rem;
    
    font-family: var(--font-family-light);
}
.right_interest_container{
    width: 60%;
    height: 100%;
    
    display:flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: space-around;
}
.right_interest_container_top_row{
    display: flex;
    height: 50%;
    padding: 2px;
    box-sizing: border-box;
}
.right_interest_container_bottom_row{
    display: flex;
    height: 50%;
    padding: 2px;
    box-sizing: border-box;
}
.interest{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 2px;
    background-color: var(--primary-color);
}
.interest img{
    width: 100%;
    height: 100%;
    
}
@media screen and (max-width: 769px){
    .first_container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "imgtop"
                             "firsttext";
        flex-direction: column;
        height: 100%;
        box-sizing: border-box;
    }
    .first_image_container{
        grid-area: imgtop;
        width:100%;
        height: 1fr;
        background-color:var(--dark-font-grey);
        background-image: url("../../../../assets/homeimg_3.png");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        box-sizing: border-box;
        
    }
    .first_textgroup_container{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        box-sizing: border-box;
        
    }
    .mobile_heading{
        display: flex;
        width: 100%;
        flex-direction: column;
        position:absolute;
        left: 10%;
        top: 16%;
        z-index: -1;
        color: var(--light-font-color);
        font-size: 1.7rem;
        box-sizing: border-box;
    }
    span{
        color: tomato;
        
    }
    .heading{
        position: fixed;
        left: -100%;
    }
    .summary{
        margin-bottom: 1rem;
    }

    .skills_container{
        margin-top: 1rem;
        height: 100%;
        width: 100%;
        background-color: var(--accent-color);
        display: flex;
        flex-direction: column;
        box-sizing: border-box;  
        
    }
    .skills{
        height: 10%;
        font-size: 1.5rem;
        text-align: center;
        
    }
    .skills_horizontal_container{  
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        justify-content: center;
    }
    .frontend{
        margin-top: 1rem;
        box-sizing: border-box;        
        width: 100%;
        height: 100%;
        padding: 0 1% 0 1%;
    
    }
    .backend{
        margin-top: 1rem;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 0 1% 0 1%;
    }

    .second_container{
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-bottom: 2rem;
        box-sizing: border-box;
    }
    .languages_title{
        align-self: center;
        font-size: 1.3rem;
        box-sizing: border-box;
        
    }
    .languages_frameworks{
        padding-top: 2rem;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        row-gap: .1rem;
        box-sizing: border-box;
    
    }

    .interests_container{
        margin-top: 3rem;
        height: 100%;
        width: 100%;
        background-color: var(--font-color);
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }
    .left_interest_container{
        width: 100%;
        height: 100%;
        background-color: var(--accent-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-sizing: border-box;

        
    }
    
    .interests_title{
        margin-top: 1rem;
        font-size: 3rem;
    }
    .interests_brief{
        
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-family: var(--font-family-light);
    }
    .right_interest_container{
        width:100%;
        height: 100%;
        
        display:flex;
        flex-direction: column;
        padding: 1rem;
        box-sizing: border-box;
        justify-content: space-around;
    }
    .right_interest_container_top_row{
        display: flex;
        height: 50%;
        padding: 2px;
        box-sizing: border-box;
    }
    .right_interest_container_bottom_row{
        display: flex;
        height: 50%;
        padding: 2px;
        box-sizing: border-box;
    }
    .interest{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        margin: 2px;
        background-color: var(--primary-color);
    }
    
    
    
    

};
    


