<div class="mainbd">
    <div class="first_container">
        <div class="first_image_container">
            <div class="mobile_heading">
                <h1>Hi there<span>!</span></h1>
                <h2>i'm Suleiman</h2>
            </div>
        </div>
        <div class="first_textgroup_container">
            <div class="intro_text_container">
                <div class="heading">
                    <h1>Hi there!</h1>
                    <h2>i'm Suleiman</h2>
                </div>
                <div class="summary">
                    <p>I am a talented, ambitious, versatile and hardworking individual, <br/>
                    with broad skills and experience with computers. Furthermore, i am adept at handling<br/>
                    multiple tasks on a daily basis competently and at working well under pressure.</p>
                </div>
    
            </div>
            <div class="skills_container">
                <div class="skills">
                <h2 >Skills</h2>
                </div>
                <div class="skills_horizontal_container">
                    <div class="frontend">               
                        <h4>Frontend Development</h4>
                        <p>I am a meticulous web and app developer with 2 years
                            experience in frontend development and deplorable
                            knowledge in several frontend frameworks
                        </p>
                    </div>

                    <div class="backend">
                        <h4>Backend development</h4>
                        <p> am a novice in the backend development field
                            with basic knowledge of SQL and No SQL database 
                            structures and security</p>
                    </div>

                </div>
                <div class="skills_horizontal_container">
                    <div class="frontend">               
                        <h4>UI Design</h4>
                        <p>i am a creative self taught designer
                            whith intermediate skills in 
                            user interface design <br/>
                           </p>
                    </div>
                </div>
                

            </div>

        </div>
    </div>
    <div class="second_container">
        <div class="languages_title">
            <h2 class="">Languages, frameworks & softwares</h2>
        </div>
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        <div class="languages_frameworks">
            <div class="language_icons css">
                <img src="../../../../assets/css3.svg"/>
                
                <div class="progress_bar">
                    <div class="css_progress_value"></div>
                </div>
                
            </div>
            <div class="language_icons html">
                <img src="../../../../assets/html.svg"/>
                <div class="progress_bar">
                    <div class="html_progress_value"></div>
                </div>
            </div>

            <div class="language_icons angular">
                <img src="../../../../assets/angular1.svg"/>
                
                <div class="progress_bar">
                    <div class="angular_progress_value"></div>
                </div>
            </div>

            <div class="language_icons flutter">
                <img src="../../../../assets/flutter.svg"/>
                
                <div class="progress_bar">
                    <div class="flutter_progress_value"></div>
                </div>
            </div>

            <div class="language_icons react">
                <img src="../../../../assets/react.svg"/>
                
                <div class="progress_bar">
                    <div class="react_progress_value"></div>
                </div>
            </div>

            <div class="language_icons dotnet">
                <img src="../../../../assets/dotnet.svg"/>
                
                <div class="progress_bar">
                    <div class="dotnet_progress_value"></div>
                </div>
            </div>

            <div class="language_icons figma">
                <img src="../../../../assets/figma.svg"/>
                
                <div class="progress_bar">
                    <div class="figma_progress_value"></div>
                </div>
            </div>

            <div class="language_icons adobexd">
                <img src="../../../../assets/adobe-xd.svg"/>
                
                <div class="progress_bar">
                    <div class="xd_progress_value"></div>
                </div>
            </div>
            <div class="language_icons adobexd">
                <img src="../../../../assets/javascript.svg"/>
                <div class="progress_bar">
                    <div class="js_progress_value"></div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="interests_container">
        <div class="left_interest_container">
            <h2 class="interests_title">Interests</h2>
            <p class="interests_brief">i am a fun loving and out going person<br> with particular
             interests in art, sports, food, photography,<br>video games and racing</p>

        </div>
        <div class="right_interest_container">
            <div class="right_interest_container_top_row">
                <div class="interest photography">
                    <img src="../../../../assets/photography.svg"/>
                </div>
                <div class="interest art">
                    <img src="../../../../assets/drawing.svg"/>
                </div>
            </div>
            <div class="right_interest_container_bottom_row">
                <div class="interest sports">
                    <img src="../../../../assets/sports.svg"/>
                </div>
                <div class="interest game">
                    <img src="../../../../assets/game.svg"/>
                </div>
            </div>

        </div>

    </div>
    