
<div class="home_data">
    <h1 class="title1">Welcome</h1>
    <h2 class="title2">to my space</h2>
</div>
<div class="top_right">
    <p>The tech space</p>
    <p>is my play ground</p>
    <p>come join me in the fun</p>
    <hr/>
    <hr/>
</div>
<div class="top_left">
    <h3>the brief</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p> dolor sit amet, consectetur scing elit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
    
</div>

<div class="top_left2">
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p> dolor sit amet, consectetur scing elit.</p>
    
    
</div>

<div class="design"></div>
<div class="mobiledesignline_top"></div>
<div class="mobiledesignline_bottom"></div>

<div class="socialicons">
    <a href="#"><img  class="icons" src="../../../assets/facebook.png"/></a>
    <a href="#"><img  class="icons" src="../../../assets/twitter.png"/></a>
    <a href="#"><img  class="icons" src="../../../assets/github.png"/></a>
    <a href="#"><img  class="icons" src="../../../assets/instagram.png"/></a>
</div>

<img  class="mainimg" src="../../../assets/avatar4.png"/> 