<div class="container">
    <div class="rightdesign"></div>
    <div class="contact_box">
        <div class="left">
            <div class="leftdesign"></div>
        </div>
        <div class="center">
            <h2 class="contactme">Contact Me</h2>
            <p class="paragraph1">Feel free to contact me at any time. i will<br>
                get back to you as soon as i can.</p>
            <form class="form">         
                
                <div class="form_group">
                    <input type="text" placeholder="Name" class="form_control" id="name"/>
                </div>
                <div class="form_group">
                    <input type="text" placeholder="Email" id="email"/>
                </div>
                <div class="form_group">
                    <textarea type="text" placeholder="Message" id="message"></textarea>
                </div>
                <div>
                    <button type="submit" class="sendbtn">SEND</button>
                </div>
            
            </form>
        </div>
        <div class="right">
            <h2 class="info">Info</h2>
            <div class="info_element email">
                <img src="../../../../assets/email1.png"/>
                <p>{{data.email}}</p>

            </div>
            <div class="info_element phone">
                <img src="../../../../assets/phone.png"/>
                <p>0810 2627 768</p>

            </div>
            <div class="info_element location">
                <img src="../../../../assets/location.png"/>
                <p>Abuja, Nigeria</p>

            </div>
            <div class="info_element telegram">
                <img src="../../../../assets/telegram.png"/>
                <p>@virage33</p>

            </div>
            
            
            

        </div>
    </div>
</div>
