<nav class="navbar bd-grid">
    <div >
        <a href="#" class="logo">Suleiman Sani</a>
    </div>
    <div class="nav_menu" id="nav-menu">
      <ul class="nav_list">
        <li class="nav_list_item"><a routerLinkActive ="active" routerLink = "home" class="nav_link">Home</a></li>
        <li class="nav_list_item"><a style="cursor: pointer;" (click)="gotoPage('about')" class="nav_link">About</a></li>
        <li class="nav_list_item"><a routerLinkActive ="active" routerLink = "project" class="nav_link">Projects</a></li>
        <li class="nav_list_item"><a routerLinkActive ="active" routerLink = "contact" class="nav_link">Contact</a></li>
        
      </ul>
    </div>
    <div class="toggle_menu" id="toggle-menu">
        <p>Menu</p>
    </div>

  </nav>